/* Global Styles */

body{
width: auto;
background-color: #242424;
font: 14px arial;
color: #dddddd;
text-align: justify;
}

h1{
margin:0;
font-size: 2em;
text-align:center;
padding:0 0.5em;
line-height:1.2em;
background: #33531C;
border-radius:0.5em 0.5em 0 0;
}


h2{
	font: 16px arial;
	color: #75B73D;
	font-weight: bold;
}

h3
{
	font: 12px arial;
	color: #dddddd;
	text-align:center;
}

h4{
	font: 14px arial;
	color: #75B73D;
	font-weight: bold;
}

h5 {
	margin:0;
	text-align:center;
	padding:0.25em;
	font-size:10px;
	font-weight:normal;
	background: #1C1C1C;
}

a
{
	color: #75B73D;
	text-decoration: none;
}

a:hover
{
	color: #75B73D;
	text-decoration: underline;
}

img.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 75%;
	max-height: 75%;
}

ul{
padding:0 1.2em 1.2em;
}

ol{
padding:0 1.2em 1.2em;
list-style-type:square;
}

div.clear{
	clear:both;
	background:#242424;
	height:1.5em;
	padding:10px;
}

#button-next {
	width: 73px;
	height: 23px;
	background: url('Buttons.png') no-repeat scroll -146px -23px;
	}
#button-next:hover {
       background-position: -73px -23px;
}
#button-next:active {
       background-position: 0px -23px;
}

#button-prev {
	width: 73px;
	height: 23px;
	background: url('Buttons.png') no-repeat scroll -146px 0px;
	}
#button-prev:hover {
       background-position: -73px 0px;
}
#button-prev:active {
       background-position: 0px -0px;
}

